:root {
  --text_color: #333;
  --text_colorRed: #f00;
  --bg_color: #eee;
  --bg_color0: #000;
  --num_-100: -100px;
  --num_-80: -80px;
  --num_4: 4px;
  --num_8: 8px;
  --num_10: 10px;
  --num_12: 12px;
  --num_15: 15px;
  --num_16: 16px;
  --num_20: 20px;
  --num_24: 24px;
  --num_30: 30px;
  --num_32: 32px;
  --num_36: 36px;
  --num_40: 40px;
  --num_50: 50px;
  --num_60: 60px;
  --num_80: 80px;
  --num_100: 100px;
  --num_110: 110px;
  --num_120: 120px;
  --num_140: 140px;
  --num_150: 150px;
  --num_180: 180px;
  --num_260: 260px;
  --num_300: 300px;
  --num_320: 320px;
  --num_360: 360px;
  --num_800: 800px;
}